ody {
    padding-top:70px;
    min-height:1000px;
}

#results {
    width:960px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#my-favorites {
    width:960px;
    margin-left:40px;
}

.subtext {
    margin-top:30px;
    margin-bottom:30px;
    font-size:24px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

.step {
    width:650px;
    margin-left:auto;
    margin-right:auto;
}

.ytdiv {
}

.tdiv {
    font-size:12px;
    margin:4px;
}

.bypass {
    position:absolute;
    left:-10px;
    top:-5px;
}


.jumbotron {
    width:900px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

#search {
    width:640px;
    margin-left:auto;
    margin-right:auto;
}

#info {
    height:24px;
}


.jumbotron h1 {
    font-size:54px;
}

.idiv {
    width:640px;
    height:390px;
    margin-left:auto;
    margin-right:auto;
    cursor:pointer;
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    overflow:hidden;
    position:relative;
}


.info-text {
    margin:20px;
}

footer {
    border-top-style:solid;
    border-width:1px;
    border-color:#ccc;
    text-align:center;
}

.tweet {
    width:960px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-top:20px;
    margin-bottom:30px;
}

.pathfooter-text {
    margin-top:20px;
    margin-bottom:10px;
    font-size:14px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

.skipped {
    margin-right:8px;
}

#skiplist {
    width:650px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    margin-top:12px;
}

.playbutton {
    width:60px;
    top:4px;
    left:4px;
    position:absolute;
    opacity:.4;
}


#report-video-info {
    width:400px;
    margin-left:auto;
    margin-right:auto;
}

#report-status {
    margin-top:4px;
    height:18px;
    font-size:18px;
    color:green;
}

#report-query {
    margin:30px;
}
